#all {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.as2 {
	border-top: solid #000 1px;
}

#other-main {
	padding-top: 30px;
}

#other-nav {
	margin-bottom: 20px;
}

#other-nav li {
	display: inline;
}

#other-right {
	height: 800px;
	border-left: solid #000 1px;
}

.intro-pic {
	padding: 0 20px 0 0;
}

.all-sec {
	padding: 20px 0 20px 0;
	margin-right: 30px;
}

.ghost-button-full-color {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #000;
  border: solid #000 1px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
.ghost-button-full-color:hover,
.ghost-button-full-color:active {
  background-color: #000;
  color: #fff;
  border: solid #000 1px;
  transition: color 0.3s ease-in,
              background-color 0.4s ease-in,
              border-color 0.4s ease-in;
}

#others dl, .type {
	text-align: left;
}

#others dl {
	margin-top: 20px;
}

#others dt, #others a {
	font-weight: 400;
	color: #000;
}

#others a:hover {
	background-color: #bababa;
}

#others dd {
	margin-left: 40px;
	margin-bottom: 20px;
}

.nav>li.active>a, .nav>li.active>a:focus, .nav>li.active>a:hover {
  color: #fff;
  background-color: #000;
  border-radius: 0;
  border: none;
}

.nav>li>a {
  border: none;
	border-radius: 0;
}

.nav a {
	color: #000;
  display: inline;
}

#tabs {
	text-align: center;
}

#tabs ul {
  display: inline-block;
  margin-bottom: 20px;
  border: none;
}

#tabs li {
	width: 150px;
}

.type {
	font-size: 30px;
	margin-bottom: 20px;
}

.photo-category {
  padding: 120px 30px 0 30px;
}

.my-gallery {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.my-gallery img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.my-gallery .portrait {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  width: 230px;
  height: 230px;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
}

.my-gallery figcaption {
  display: none;
}